<!-- Home page design with large image to left of bio info. -->
{% assign essay_pages = site.pages | where: "type", "essay"  | where_exp: "page", "page.draft != true" %}
{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.draft != true" %}
{% assign num_essays = essay_pages.size %}
{% assign num_projects = project_pages.size %}

<div style="height: 100%;" class="ui middle aligned two column centered stackable grid container">

  <div style="text-align: left" class="column">
    <div  class="ui round image">
      <right> <img style="max-width: 350px" </right> src="{{ site.data.bio.basics.picture }}">
    </div>
  </div>

  <div class="column">
    <h2 class="header no-bottom">{{ site.data.bio.basics.name }}</h2>
    <p class=""> <font size="2"> {{ site.data.bio.basics.label }} </font></p>
    <p class="">
      {{ site.data.bio.basics.summary }}
    </p>
    <p>Interests:
      {% for interest in site.data.bio.interests %}
        {{ interest.name }}{% if forloop.last != true %}, {% endif %}
      {% endfor %}
    </p>
    <p style="text-align: left">
      {% include home-network-links.html %}
    </p>
    <p style="text-align: left">
      <a href="{{ site.baseurl}}/projects/">
        <button class="ui round button">Projects ({{ num_projects }})</button>
      </a>
      <a href="{{ site.baseurl}}/essays/">
        <button class="ui round button">Essays ({{ num_essays }})</button>
      </a>
      <a href="{{ site.baseurl}}/bio/">
        <button class="ui round button">{{ site.bio-page-label }}</button>
      </a>
    </p>
  </div>
</div>
